@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');
* {
  margin:0px;
  padding:0px;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Faculty Glyphic", sans-serif;
  background: #505050;
  color: white
}
main{
  margin-top: 10vh;
  width: 80vw;
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  flex-direction: column;
  background: #101010;
  border-radius: 20px;
}
main>*{
  margin: 0.5vw;
}
a>img{
  width: 5vw;
  height: 5vw;
  background-szie: 100%;
}
.links{
  width: auto;
  background-color: #353535;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 1%;
}
a{
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  margin: 0.15vw;
}
a[href="https://www.furaffinity.net/user/kogaanahtor"]{
  width: 80%
}
#itch{
  filter: invert(1);
}
@media (max-width: 767px) {
  main{
    margin-top: 0.25vh;
    width: 92.5vw;
    height: 82vh;
  }
  main>*{
    margin: 0.025vw;
  }
  .links{
    width: 85%;
  }
  a{
    margin: 2vw;
    width:80%;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  main{
    margin-top: 2.5vh;
    width: 90vw;
    height: 78vh;
  }
  main>*{
    margin: 0.15vw;
  }
  a{
    margin: 0.9vw;
    width:45%;
  }
}

